<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>O</key>
	<dict>
		<key>formula</key>
		<string>C12H19N3O2</string>
		<key>threeLetterCode</key>
		<string>Pyl</string>
		<key>name</key>
		<string>Pyrrolysine</string>
		<key>monoisotopicMass</key>
		<string>255</string>
		<key>averageMass</key>
		<string>255</string>
		<key>pKa</key>
		<string>0.0</string>
		<key>KyteDoolittle</key>
		<string>0.0</string>
		<key>HoppWoods</key>
		<string>0.0</string>
		<key>BullBreeze</key>
		<string>0.0</string>
		<key>Represents</key>
		<array>
			<string>pyrrolysine</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>pyrrolysine</string>
		</array>
	</dict>
	<key>A</key>
	<dict>
		<key>formula</key>
		<string>C3H5NO</string>
		<key>threeLetterCode</key>
		<string>Ala</string>
		<key>name</key>
		<string>Alanine</string>
		<key>monoisotopicMass</key>
		<string>71.03711</string>
		<key>averageMass</key>
		<string>71.0788</string>
		<key>pKa</key>
		<string>0.0</string>
		<key>KyteDoolittle</key>
		<string>1.8</string>
		<key>BullBreeze</key>
		<string>0.610</string>
		<key>HoppWoods</key>
		<string>-0.5</string>
		<key>Represents</key>
		<array>
			<string>alanine</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>alanine</string>
		</array>
	</dict>
	<key>C</key>
	<dict>
		<key>formula</key>
		<string>C3H5NOS</string>
		<key>threeLetterCode</key>
		<string>Cys</string>
		<key>name</key>
		<string>Cysteine</string>
		<key>monoisotopicMass</key>
		<string>103.00919</string>
		<key>averageMass</key>
		<string>103.1448</string>
		<key>pKa</key>
		<string>8.3</string>
		<key>KyteDoolittle</key>
		<string>2.5</string>
		<key>HoppWoods</key>
		<string>-1.0</string>
		<key>BullBreeze</key>
		<string>0.360</string>
		<key>Represents</key>
		<array>
			<string>cysteine</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>cysteine</string>
		</array>
	</dict>
	<key>D</key>
	<dict>
		<key>formula</key>
		<string>C4H5NO3</string>
		<key>threeLetterCode</key>
		<string>Asp</string>
		<key>name</key>
		<string>Aspartic Acid</string>
		<key>monoisotopicMass</key>
		<string>115.02694</string>
		<key>averageMass</key>
		<string>115.0886</string>
		<key>pKa</key>
		<string>3.91</string>
		<key>KyteDoolittle</key>
		<string>-3.5</string>
		<key>HoppWoods</key>
		<string>3.0</string>
		<key>BullBreeze</key>
		<string>0.610</string>
		<key>Represents</key>
		<array>
			<string>asparticacid</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>asparticacid</string>
			<string>asx</string>
		</array>
	</dict>
	<key>R</key>
	<dict>
		<key>formula</key>
		<string>C6H12N4O</string>
		<key>threeLetterCode</key>
		<string>Arg</string>
		<key>name</key>
		<string>Arginine</string>
		<key>monoisotopicMass</key>
		<string>156.10111</string>
		<key>averageMass</key>
		<string>156.1876</string>
		<key>pKa</key>
		<string>12.50</string>
		<key>KyteDoolittle</key>
		<string>-4.5</string>
		<key>HoppWoods</key>
		<string>3.0</string>
		<key>BullBreeze</key>
		<string>0.690</string>
		<key>Represents</key>
		<array>
			<string>arginine</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>arginine</string>
		</array>
	</dict>
	<key>N</key>
	<dict>
		<key>formula</key>
		<string>C4H6N2O2</string>
		<key>threeLetterCode</key>
		<string>Asn</string>
		<key>name</key>
		<string>Asparagine</string>
		<key>monoisotopicMass</key>
		<string>114.04293</string>
		<key>averageMass</key>
		<string>114.1039</string>
		<key>pKa</key>
		<string>0.0</string>
		<key>KyteDoolittle</key>
		<string>-3.5</string>
		<key>HoppWoods</key>
		<string>0.2</string>
		<key>BullBreeze</key>
		<string>0.890</string>
		<key>Represents</key>
		<array>
			<string>asparagine</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>asparagine</string>
			<string>asx</string>
		</array>
	</dict>
	<key>E</key>
	<dict>
		<key>formula</key>
		<string>C5H7NO3</string>
		<key>threeLetterCode</key>
		<string>Glu</string>
		<key>name</key>
		<string>Glutamic Acid</string>
		<key>monoisotopicMass</key>
		<string>129.04259</string>
		<key>averageMass</key>
		<string>129.1155</string>
		<key>pKa</key>
		<string>4.25</string>
		<key>KyteDoolittle</key>
		<string>-3.5</string>
		<key>HoppWoods</key>
		<string>3.0</string>
		<key>BullBreeze</key>
		<string>0.510</string>
		<key>Represents</key>
		<array>
			<string>glutamicacid</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>glutamicacid</string>
			<string>glx</string>
		</array>
	</dict>
	<key>Q</key>
	<dict>
		<key>formula</key>
		<string>C5H8N2O2</string>
		<key>threeLetterCode</key>
		<string>Gln</string>
		<key>name</key>
		<string>Glutamine</string>
		<key>monoisotopicMass</key>
		<string>128.05858</string>
		<key>averageMass</key>
		<string>128.1308</string>
		<key>pKa</key>
		<string>0.0</string>
		<key>KyteDoolittle</key>
		<string>-3.5</string>
		<key>HoppWoods</key>
		<string>0.2</string>
		<key>BullBreeze</key>
		<string>0.970</string>
		<key>Represents</key>
		<array>
			<string>glutamine</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>glutamine</string>
			<string>glx</string>
		</array>
	</dict>
	<key>G</key>
	<dict>
		<key>formula</key>
		<string>C2H3NO</string>
		<key>threeLetterCode</key>
		<string>Gly</string>
		<key>name</key>
		<string>Glycine</string>
		<key>monoisotopicMass</key>
		<string>57.02147</string>
		<key>averageMass</key>
		<string>57.0520</string>
		<key>pKa</key>
		<string>0.0</string>
		<key>KyteDoolittle</key>
		<string>-0.4</string>
		<key>HoppWoods</key>
		<string>0.0</string>
		<key>BullBreeze</key>
		<string>0.810</string>
		<key>Represents</key>
		<array>
			<string>glycine</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>glycine</string>
		</array>
	</dict>
	<key>H</key>
	<dict>
		<key>formula</key>
		<string>C6H7N3O</string>
		<key>threeLetterCode</key>
		<string>His</string>
		<key>name</key>
		<string>Histidine</string>
		<key>monoisotopicMass</key>
		<string>137.05891</string>
		<key>averageMass</key>
		<string>137.1412</string>
		<key>pKa</key>
		<string>6.5</string>
		<key>KyteDoolittle</key>
		<string>-3.2</string>
		<key>HoppWoods</key>
		<string>-0.5</string>
		<key>BullBreeze</key>
		<string>0.690</string>
		<key>Represents</key>
		<array>
			<string>histidine</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>histidine</string>
		</array>
	</dict>
	<key>I</key>
	<dict>
		<key>formula</key>
		<string>C6H11NO</string>
		<key>threeLetterCode</key>
		<string>Ile</string>
		<key>name</key>
		<string>Isoleucine</string>
		<key>monoisotopicMass</key>
		<string>113.08406</string>
		<key>averageMass</key>
		<string>113.1595</string>
		<key>pKa</key>
		<string>0.0</string>
		<key>KyteDoolittle</key>
		<string>4.5</string>
		<key>HoppWoods</key>
		<string>-1.8</string>
		<key>BullBreeze</key>
		<string>-1.450</string>
		<key>Represents</key>
		<array>
			<string>isoleucine</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>isoleucine</string>
		</array>
	</dict>
	<key>J</key>
	<dict>
        <key>formula</key>
        <string>C6H11NO</string>
		<key>threeLetterCode</key>
		<string>Xle</string>
		<key>name</key>
		<string>Xle</string>
		<key>Represents</key>
		<array>
			<string>isoleucine</string>
			<string>leucine</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>xle</string>
		</array>
	</dict>
	<key>L</key>
	<dict>
		<key>formula</key>
		<string>C6H11NO</string>
		<key>threeLetterCode</key>
		<string>Leu</string>
		<key>name</key>
		<string>Leucine</string>
		<key>monoisotopicMass</key>
		<string>113.08406</string>
		<key>averageMass</key>
		<string>113.1595</string>
		<key>pKa</key>
		<string>0.0</string>
		<key>KyteDoolittle</key>
		<string>3.8</string>
		<key>HoppWoods</key>
		<string>-1.8</string>
		<key>BullBreeze</key>
		<string>-1.650</string>
		<key>Represents</key>
		<array>
			<string>leucine</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>leucine</string>
		</array>
	</dict>
	<key>K</key>
	<dict>
		<key>formula</key>
		<string>C6H12N2O</string>
		<key>threeLetterCode</key>
		<string>Lys</string>
		<key>name</key>
		<string>Lysine</string>
		<key>monoisotopicMass</key>
		<string>128.09496</string>
		<key>averageMass</key>
		<string>128.1742</string>
		<key>pKa</key>
		<string>10.79</string>
		<key>KyteDoolittle</key>
		<string>-3.9</string>
		<key>HoppWoods</key>
		<string>3.0</string>
		<key>BullBreeze</key>
		<string>0.460</string>
		<key>Represents</key>
		<array>
			<string>lysine</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>lysine</string>
		</array>
	</dict>
	<key>M</key>
	<dict>
		<key>formula</key>
		<string>C5H9NOS</string>
		<key>threeLetterCode</key>
		<string>Met</string>
		<key>name</key>
		<string>Methionine</string>
		<key>monoisotopicMass</key>
		<string>131.04049</string>
		<key>averageMass</key>
		<string>131.1986</string>
		<key>pKa</key>
		<string>0.0</string>
		<key>KyteDoolittle</key>
		<string>1.9</string>
		<key>HoppWoods</key>
		<string>-1.3</string>
		<key>BullBreeze</key>
		<string>-0.660</string>
		<key>Represents</key>
		<array>
			<string>methionine</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>methionine</string>
		</array>
	</dict>
	<key>F</key>
	<dict>
		<key>formula</key>
		<string>C9H9NO</string>
		<key>threeLetterCode</key>
		<string>Phe</string>
		<key>name</key>
		<string>Phenylalanine</string>
		<key>monoisotopicMass</key>
		<string>147.06841</string>
		<key>averageMass</key>
		<string>147.1766</string>
		<key>pKa</key>
		<string>0.0</string>
		<key>KyteDoolittle</key>
		<string>2.8</string>
		<key>HoppWoods</key>
		<string>-2.5</string>
		<key>BullBreeze</key>
		<string>-1.520</string>
		<key>Represents</key>
		<array>
			<string>phenylalanine</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>phenylalanine</string>
		</array>
	</dict>
	<key>P</key>
	<dict>
		<key>formula</key>
		<string>C5H7NO</string>
		<key>threeLetterCode</key>
		<string>Pro</string>
		<key>name</key>
		<string>Proline</string>
		<key>monoisotopicMass</key>
		<string>97.05276</string>
		<key>averageMass</key>
		<string>97.1167</string>
		<key>pKa</key>
		<string>0.0</string>
		<key>KyteDoolittle</key>
		<string>-1.6</string>
		<key>HoppWoods</key>
		<string>0.0</string>
		<key>BullBreeze</key>
		<string>-0.170</string>
		<key>Represents</key>
		<array>
			<string>proline</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>proline</string>
		</array>
	</dict>
	<key>S</key>
	<dict>
		<key>formula</key>
		<string>C3H5NO2</string>
		<key>threeLetterCode</key>
		<string>Ser</string>
		<key>name</key>
		<string>Serine</string>
		<key>monoisotopicMass</key>
		<string>87.03203</string>
		<key>averageMass</key>
		<string>87.0782</string>
		<key>pKa</key>
		<string>0.0</string>
		<key>KyteDoolittle</key>
		<string>-0.8</string>
		<key>HoppWoods</key>
		<string>-0.3</string>
		<key>BullBreeze</key>
		<string>0.420</string>
		<key>Represents</key>
		<array>
			<string>serine</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>serine</string>
		</array>
	</dict>
	<key>T</key>
	<dict>
		<key>formula</key>
		<string>C4H7NO2</string>
		<key>threeLetterCode</key>
		<string>Thr</string>
		<key>name</key>
		<string>Threonine</string>
		<key>monoisotopicMass</key>
		<string>101.04768</string>
		<key>averageMass</key>
		<string>101.1051</string>
		<key>pKa</key>
		<string>0.0</string>
		<key>KyteDoolittle</key>
		<string>-0.7</string>
		<key>HoppWoods</key>
		<string>-0.4</string>
		<key>BullBreeze</key>
		<string>0.290</string>
		<key>Represents</key>
		<array>
			<string>threonine</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>threonine</string>
		</array>
	</dict>
	<key>W</key>
	<dict>
		<key>formula</key>
		<string>C11H10N2O</string>
		<key>threeLetterCode</key>
		<string>Trp</string>
		<key>name</key>
		<string>Tryptophan</string>
		<key>monoisotopicMass</key>
		<string>186.07931</string>
		<key>averageMass</key>
		<string>186.2133</string>
		<key>pKa</key>
		<string>0.0</string>
		<key>KyteDoolittle</key>
		<string>-0.9</string>
		<key>HoppWoods</key>
		<string>-3.4</string>
		<key>BullBreeze</key>
		<string>-1.200</string>
		<key>Represents</key>
		<array>
			<string>tryptophan</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>tryptophan</string>
		</array>
	</dict>
	<key>Y</key>
	<dict>
		<key>formula</key>
		<string>C9H9NO2</string>
		<key>threeLetterCode</key>
		<string>Tyr</string>
		<key>name</key>
		<string>Tyrosine</string>
		<key>monoisotopicMass</key>
		<string>163.06333</string>
		<key>averageMass</key>
		<string>163.1760</string>
		<key>pKa</key>
		<string>10.95</string>
		<key>KyteDoolittle</key>
		<string>-1.3</string>
		<key>HoppWoods</key>
		<string>-2.3</string>
		<key>BullBreeze</key>
		<string>-1.430</string>
		<key>Represents</key>
		<array>
			<string>tyrosine</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>tyrosine</string>
		</array>
	</dict>
	<key>V</key>
	<dict>
		<key>formula</key>
		<string>C5H9NO</string>
		<key>threeLetterCode</key>
		<string>Val</string>
		<key>name</key>
		<string>Valine</string>
		<key>monoisotopicMass</key>
		<string>99.06842</string>
		<key>averageMass</key>
		<string>99.1326</string>
		<key>pKa</key>
		<string>0.0</string>
		<key>KyteDoolittle</key>
		<string>4.2</string>
		<key>HoppWoods</key>
		<string>-1.5</string>
		<key>BullBreeze</key>
		<string>-0.750</string>
		<key>Represents</key>
		<array>
			<string>valine</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>valine</string>
		</array>
	</dict>
	<key>U</key>
	<dict>
		<key>formula</key>
		<string>C3H5NOSe</string>
		<key>threeLetterCode</key>
		<string>Sec</string>
		<key>name</key>
		<string>Selenocysteine</string>
		<key>monoisotopicMass</key>
		<string>166.9485</string>
		<key>averageMass</key>
		<string>166.0382</string>
		<key>pKa</key>
		<string>5.47</string>
		<key>KyteDoolittle</key>
		<string>0.0</string>
		<key>HoppWoods</key>
		<string>0.0</string>
		<key>BullBreeze</key>
		<string>0.0</string>
		<key>Represents</key>
		<array>
			<string>selenocysteine</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>selenocysteine</string>
		</array>
	</dict>
	<key>-</key>
	<dict>
        <key>formula</key>
        <string></string>
		<key>threeLetterCode</key>
		<string>Gap</string>
		<key>name</key>
		<string>Gap</string>
		<key>monoisotopicMass</key>
		<string>0.0</string>
		<key>averageMass</key>
		<string>0.0</string>
		<key>pKa</key>
		<string>0.0</string>
		<key>KyteDoolittle</key>
		<string>0.0</string>
		<key>HoppWoods</key>
		<string>0.0</string>
		<key>BullBreeze</key>
		<string>0.0</string>
		<key>Represents</key>
		<array>
			<string>gap</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>gap</string>
		</array>
	</dict>
	<key>X</key>
	<dict>
        <key>formula</key>
        <string></string>
		<key>threeLetterCode</key>
		<string>Xaa</string>
		<key>name</key>
		<string>Unknown</string>
		<key>monoisotopicMass</key>
		<string>0.0</string>
		<key>averageMass</key>
		<string>0.0</string>
		<key>pKa</key>
		<string>0.0</string>
		<key>KyteDoolittle</key>
		<string>0.0</string>
		<key>HoppWoods</key>
		<string>0.0</string>
		<key>BullBreeze</key>
		<string>0.0</string>
		<key>Represents</key>
		<array>
			<string>unknown</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>unknown</string>
		</array>
	</dict>
	<key>?</key>
	<dict>
        <key>formula</key>
        <string></string>
		<key>threeLetterCode</key>
		<string>???</string>
		<key>name</key>
		<string>Undefined</string>
		<key>monoisotopicMass</key>
		<string>0.0</string>
		<key>averageMass</key>
		<string>0.0</string>
		<key>pKa</key>
		<string>0.0</string>
		<key>KyteDoolittle</key>
		<string>0.0</string>
		<key>HoppWoods</key>
		<string>0.0</string>
		<key>BullBreeze</key>
		<string>0.0</string>
		<key>Represents</key>
		<array>
			<string>undefined</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>undefined</string>
		</array>
	</dict>
	<key>B</key>
	<dict>
        <key>formula</key>
        <string></string>
		<key>threeLetterCode</key>
		<string>Asx</string>
		<key>name</key>
		<string>Asx</string>
		<key>Represents</key>
		<array>
			<string>asparagine</string>
			<string>asparticacid</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>asx</string>
		</array>
	</dict>
	<key>Z</key>
	<dict>
        <key>formula</key>
        <string></string>
		<key>threeLetterCode</key>
		<string>Glx</string>
		<key>name</key>
		<string>Glx</string>
		<key>Represents</key>
		<array>
			<string>glutamine</string>
			<string>glutamicacid</string>
		</array>
		<key>Represented by</key>
		<array>
			<string>glx</string>
		</array>
	</dict>
</dict>
</plist>
