<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C</key>
	<dict>
		<key>averageMass</key>
		<string>12.011</string>
		<key>isotopes</key>
		<array>
			<dict>
				<key>abundance</key>
				<string>98.93</string>
				<key>mass</key>
				<string>12.000000000</string>
				<key>ordinalNumber</key>
				<string>12</string>
			</dict>
			<dict>
				<key>abundance</key>
				<string>1.07</string>
				<key>mass</key>
				<string>13.003354826</string>
				<key>ordinalNumber</key>
				<string>13</string>
			</dict>
			<dict>
				<key>abundance</key>
				<string>0</string>
				<key>mass</key>
				<string>14.003241982</string>
				<key>ordinalNumber</key>
				<string>14</string>
			</dict>
		</array>
		<key>monoisotopicMass</key>
		<string>12.00000000</string>
		<key>name</key>
		<string>Carbon</string>
		<key>numberOfIsotopes</key>
		<string>3</string>
		<key>symbol</key>
		<string>C</string>
	</dict>
	<key>Cl</key>
	<dict>
		<key>averageMass</key>
		<string>35.4527</string>
		<key>isotopes</key>
		<array>
			<dict>
				<key>abundance</key>
				<string>75.77</string>
				<key>mass</key>
				<string>34.96885272</string>
				<key>ordinalNumber</key>
				<string>35</string>
			</dict>
			<dict>
				<key>abundance</key>
				<string>24.23</string>
				<key>mass</key>
				<string>36.96590262</string>
				<key>ordinalNumber</key>
				<string>37</string>
			</dict>
		</array>
		<key>monoisotopicMass</key>
		<string>34.96885272</string>
		<key>name</key>
		<string>Chloride</string>
		<key>numberOfIsotopes</key>
		<string>2</string>
		<key>symbol</key>
		<string>Cl</string>
	</dict>
	<key>H</key>
	<dict>
		<key>averageMass</key>
		<string>1.00794</string>
		<key>isotopes</key>
		<array>
			<dict>
				<key>abundance</key>
				<string>99.9885</string>
				<key>mass</key>
				<string>1.007825035</string>
				<key>ordinalNumber</key>
				<string>1</string>
			</dict>
			<dict>
				<key>abundance</key>
				<string>0.0115</string>
				<key>mass</key>
				<string>2.01410179</string>
				<key>ordinalNumber</key>
				<string>2</string>
			</dict>
			<dict>
				<key>abundance</key>
				<string>0</string>
				<key>mass</key>
				<string>3.01604927</string>
				<key>ordinalNumber</key>
				<string>3</string>
			</dict>
		</array>
		<key>monoisotopicMass</key>
		<string>1.00782503</string>
		<key>name</key>
		<string>Hydrogen</string>
		<key>numberOfIsotopes</key>
		<string>3</string>
		<key>symbol</key>
		<string>H</string>
	</dict>
	<key>K</key>
	<dict>
		<key>averageMass</key>
		<string>39.0983</string>
		<key>isotopes</key>
		<array>
			<dict>
				<key>abundance</key>
				<string>93.2581</string>
				<key>mass</key>
				<string>38.9637074</string>
				<key>ordinalNumber</key>
				<string>39</string>
			</dict>
			<dict>
				<key>abundance</key>
				<string>0.0117</string>
				<key>mass</key>
				<string>39.9639992</string>
				<key>ordinalNumber</key>
				<string>40</string>
			</dict>
			<dict>
				<key>abundance</key>
				<string>6.7302</string>
				<key>mass</key>
				<string>40.9618254</string>
				<key>ordinalNumber</key>
				<string>41</string>
			</dict>
		</array>
		<key>monoisotopicMass</key>
		<string>38.9637074</string>
		<key>name</key>
		<string>Potassium</string>
		<key>numberOfIsotopes</key>
		<string>3</string>
		<key>symbol</key>
		<string>K</string>
	</dict>
	<key>Li</key>
	<dict>
		<key>averageMass</key>
		<string>6.941</string>
		<key>isotopes</key>
		<array>
			<dict>
				<key>abundance</key>
				<string>7.5</string>
				<key>mass</key>
				<string>6.0151214</string>
				<key>ordinalNumber</key>
				<string>6</string>
			</dict>
			<dict>
				<key>abundance</key>
				<string>92.5</string>
				<key>mass</key>
				<string>7.016003</string>
				<key>ordinalNumber</key>
				<string>7</string>
			</dict>
		</array>
		<key>monoisotopicMass</key>
		<string>7.016003</string>
		<key>name</key>
		<string>Lithium</string>
		<key>numberOfIsotopes</key>
		<string>2</string>
		<key>symbol</key>
		<string>Li</string>
	</dict>
	<key>N</key>
	<dict>
		<key>averageMass</key>
		<string>14.00674</string>
		<key>isotopes</key>
		<array>
			<dict>
				<key>abundance</key>
				<string>99.632</string>
				<key>mass</key>
				<string>14.003074002</string>
				<key>ordinalNumber</key>
				<string>14</string>
			</dict>
			<dict>
				<key>abundance</key>
				<string>0.368</string>
				<key>mass</key>
				<string>15.00010897</string>
				<key>ordinalNumber</key>
				<string>15</string>
			</dict>
		</array>
		<key>monoisotopicMass</key>
		<string>14.003074002</string>
		<key>name</key>
		<string>Nitrogen</string>
		<key>numberOfIsotopes</key>
		<string>2</string>
		<key>symbol</key>
		<string>N</string>
	</dict>
	<key>Na</key>
	<dict>
		<key>averageMass</key>
		<string>22.989768</string>
		<key>isotopes</key>
		<array>
			<dict>
				<key>abundance</key>
				<string>100</string>
				<key>mass</key>
				<string>22.9897677</string>
				<key>ordinalNumber</key>
				<string>23</string>
			</dict>
		</array>
		<key>monoisotopicMass</key>
		<string>22.9897677</string>
		<key>name</key>
		<string>Sodium</string>
		<key>numberOfIsotopes</key>
		<string>1</string>
		<key>symbol</key>
		<string>Na</string>
	</dict>
	<key>O</key>
	<dict>
		<key>averageMass</key>
		<string>15.9994</string>
		<key>isotopes</key>
		<array>
			<dict>
				<key>abundance</key>
				<string>99.757</string>
				<key>mass</key>
				<string>15.99491463</string>
				<key>ordinalNumber</key>
				<string>16</string>
			</dict>
			<dict>
				<key>abundance</key>
				<string>0.038</string>
				<key>mass</key>
				<string>16.9991312</string>
				<key>ordinalNumber</key>
				<string>17</string>
			</dict>
			<dict>
				<key>abundance</key>
				<string>0.205</string>
				<key>mass</key>
				<string>17.9991603</string>
				<key>ordinalNumber</key>
				<string>18</string>
			</dict>
		</array>
		<key>monoisotopicMass</key>
		<string>15.99491463</string>
		<key>name</key>
		<string>Oxygen</string>
		<key>numberOfIsotopes</key>
		<string>3</string>
		<key>symbol</key>
		<string>O</string>
	</dict>
	<key>P</key>
	<dict>
		<key>averageMass</key>
		<string>30.973762</string>
		<key>isotopes</key>
		<array>
			<dict>
				<key>abundance</key>
				<string>100</string>
				<key>mass</key>
				<string>30.973762</string>
				<key>ordinalNumber</key>
				<string>31</string>
			</dict>
		</array>
		<key>monoisotopicMass</key>
		<string>30.973762</string>
		<key>name</key>
		<string>Phosphorus</string>
		<key>numberOfIsotopes</key>
		<string>1</string>
		<key>symbol</key>
		<string>P</string>
	</dict>
	<key>S</key>
	<dict>
		<key>averageMass</key>
		<string>32.066</string>
		<key>isotopes</key>
		<array>
			<dict>
				<key>abundance</key>
				<string>94.93</string>
				<key>mass</key>
				<string>31.9720707</string>
				<key>ordinalNumber</key>
				<string>32</string>
			</dict>
			<dict>
				<key>abundance</key>
				<string>0.76</string>
				<key>mass</key>
				<string>32.97145854</string>
				<key>ordinalNumber</key>
				<string>33</string>
			</dict>
			<dict>
				<key>abundance</key>
				<string>4.29</string>
				<key>mass</key>
				<string>33.96786665</string>
				<key>ordinalNumber</key>
				<string>34</string>
			</dict>
			<dict>
				<key>abundance</key>
				<string>0.02</string>
				<key>mass</key>
				<string>35.96708062</string>
				<key>ordinalNumber</key>
				<string>36</string>
			</dict>
		</array>
		<key>monoisotopicMass</key>
		<string>31.9720707</string>
		<key>name</key>
		<string>Sulfur</string>
		<key>numberOfIsotopes</key>
		<string>4</string>
		<key>symbol</key>
		<string>S</string>
	</dict>
	<key>Si</key>
	<dict>
		<key>averageMass</key>
		<string>30.973762</string>
		<key>isotopes</key>
		<array>
			<dict>
				<key>abundance</key>
				<string>92.223</string>
				<key>mass</key>
				<string>27.9769265325</string>
				<key>ordinalNumber</key>
				<string>28</string>
			</dict>
			<dict>
				<key>abundance</key>
				<string>4.685</string>
				<key>mass</key>
				<string>28.976494700</string>
				<key>ordinalNumber</key>
				<string>29</string>
			</dict>
			<dict>
				<key>abundance</key>
				<string>3.092</string>
				<key>mass</key>
				<string>29.97377017</string>
				<key>ordinalNumber</key>
				<string>30</string>
			</dict>
		</array>
		<key>monoisotopicMass</key>
		<string>30.973762</string>
		<key>name</key>
		<string>Silicon</string>
		<key>numberOfIsotopes</key>
		<string>1</string>
		<key>symbol</key>
		<string>Si</string>
	</dict>
	<key>Se</key>
	<dict>
		<key>averageMass</key>
		<string>78.95938662011</string>
		<key>isotopes</key>
		<array>
			<dict>
				<key>abundance</key>
				<string>0.89</string>
				<key>mass</key>
				<string>73.922477</string>
				<key>ordinalNumber</key>
				<string>74</string>
			</dict>
			<dict>
				<key>abundance</key>
				<string>9.37</string>
				<key>mass</key>
				<string>75.919214</string>
				<key>ordinalNumber</key>
				<string>76</string>
			</dict>
			<dict>
				<key>abundance</key>
				<string>7.63</string>
				<key>mass</key>
				<string>76.919915</string>
				<key>ordinalNumber</key>
				<string>77</string>
			</dict>
			<dict>
				<key>abundance</key>
				<string>23.77</string>
				<key>mass</key>
				<string>77.917310</string>
				<key>ordinalNumber</key>
				<string>78</string>
			</dict>
			<dict>
				<key>abundance</key>
				<string>49.61</string>
				<key>mass</key>
				<string>79.916522</string>
				<key>ordinalNumber</key>
				<string>80</string>
			</dict>
			<dict>
				<key>abundance</key>
				<string>8.73</string>
				<key>mass</key>
				<string>81.916700</string>
				<key>ordinalNumber</key>
				<string>82</string>
			</dict>
		</array>
		<key>monoisotopicMass</key>
		<string>73.9224746</string>
		<key>name</key>
		<string>Selenium</string>
		<key>numberOfIsotopes</key>
		<string>6</string>
		<key>symbol</key>
		<string>Se</string>
	</dict>
</dict>
</plist>
