<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Glu-C</key>
	<dict>
		<key>cleaveAt</key>
		<string>E</string>
		<key>fullName</key>
		<string>Endoproteinase Glu-C</string>
		<key>alternativeName</key>
		<string>Staphylococcus aureus Protease V8</string>
		<key>dontCleaveBefore</key>
		<string></string>
		<key>cleaveDirection</key>
		<string>C</string>
	</dict>
	<key>Arg-C</key>
	<dict>
		<key>cleaveAt</key>
		<string>R</string>
		<key>fullName</key>
		<string>Endoproteinase-Arg-C</string>
		<key>alternativeName</key>
		<string>Clostripain</string>
		<key>dontCleaveBefore</key>
		<string>P</string>
		<key>cleaveDirection</key>
		<string>C</string>
	</dict>
	<key>Asp-N</key>
	<dict>
		<key>cleaveAt</key>
		<string>D</string>
		<key>fullName</key>
		<string></string>
		<key>alternativeName</key>
		<string></string>
		<key>dontCleaveBefore</key>
		<string></string>
		<key>cleaveDirection</key>
		<string>N</string>
	</dict>
	<key>CNBr</key>
	<dict>
		<key>cleaveAt</key>
		<string>M</string>
		<key>fullName</key>
		<string>Cyanogen Bromide</string>
		<key>alternativeName</key>
		<string></string>
		<key>dontCleaveBefore</key>
		<string></string>
		<key>cleaveDirection</key>
		<string>C</string>
	</dict>
	<key>Lys-C</key>
	<dict>
		<key>cleaveAt</key>
		<string>K</string>
		<key>fullName</key>
		<string>Endoproteinase Lys-C</string>
		<key>alternativeName</key>
		<string></string>
		<key>dontCleaveBefore</key>
		<string>P</string>
		<key>cleaveDirection</key>
		<string>C</string>
	</dict>
	<key>Lys-C/P</key>
	<dict>
		<key>cleaveAt</key>
		<string>K</string>
		<key>fullName</key>
		<string></string>
		<key>alternativeName</key>
		<string></string>
		<key>dontCleaveBefore</key>
		<string></string>
		<key>cleaveDirection</key>
		<string>C</string>
	</dict>
	<key>Trypsin</key>
	<dict>
		<key>cleaveAt</key>
		<string>KR</string>
		<key>fullName</key>
		<string></string>
		<key>alternativeName</key>
		<string></string>
		<key>dontCleaveBefore</key>
		<string>P</string>
		<key>cleaveDirection</key>
		<string>C</string>
	</dict>
	<key>Trypsin/P</key>
	<dict>
		<key>cleaveAt</key>
		<string>KR</string>
		<key>fullName</key>
		<string></string>
		<key>alternativeName</key>
		<string></string>
		<key>dontCleaveBefore</key>
		<string></string>
		<key>cleaveDirection</key>
		<string>C</string>
	</dict>
	<key>Chymotrypsin</key>
	<dict>
		<key>cleaveAt</key>
		<string>FYWML</string>
		<key>fullName</key>
		<string></string>
		<key>alternativeName</key>
		<string></string>
		<key>dontCleaveBefore</key>
		<string>P</string>
		<key>cleaveDirection</key>
		<string>C</string>
	</dict>
</dict>
</plist>
