<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Homoserine Lactone</key>
	<dict>
		<key>averageMass</key>
		<string>-30.09348</string>
		<key>formula</key>
		<string>-SCH2+O</string>
		<key>attachedTo</key>
		<string>M</string>
		<key>monoisotopicMass</key>
		<string>-29.99280613</string>
	</dict>
	<key>Acetylation</key>
	<dict>
		<key>averageMass</key>
		<string>42.0367</string>
		<key>formula</key>
		<string>CH2CO</string>
		<key>attachedTo</key>
		<string>K</string>
		<key>monoisotopicMass</key>
		<string>42.0106</string>
	</dict>
	<key>Deamidation</key>
	<dict>
		<key>averageMass</key>
		<string>-1.0079</string>
		<key>formula</key>
		<string>-H</string>
		<key>attachedTo</key>
		<string>NQ</string>
		<key>monoisotopicMass</key>
		<string>-1.0078</string>
	</dict>
	<key>Oxidation</key>
	<dict>
		<key>averageMass</key>
		<string>15.9994</string>
		<key>formula</key>
		<string>O</string>
		<key>attachedTo</key>
		<string>MW</string>
		<key>monoisotopicMass</key>
		<string>15.9949</string>
	</dict>
	<key>Carboxymethylation</key>
	<dict>
		<key>attachedTo</key>
		<string>C</string>
		<key>formula</key>
		<string>CH2COOH</string>
		<key>monoisotopicMass</key>
		<string>58.0054</string>
		<key>averageMass</key>
		<string>58.0355</string>
	</dict>
	<key>Carbamidomethylation</key>
	<dict>
		<key>attachedTo</key>
		<string>C</string>
		<key>formula</key>
		<string>CH2CONH2</string>
		<key>monoisotopicMass</key>
		<string>57.0214</string>
		<key>averageMass</key>
		<string>57.0508</string>
	</dict>
	<key>Phosphorylation</key>
	<dict>
		<key>attachedTo</key>
		<string>STY</string>
		<key>formula</key>
		<string>PO3H</string>
		<key>monoisotopicMass</key>
		<string>79.9663</string>
		<key>averageMass</key>
		<string>79.9799</string>
	</dict>
</dict>
</plist>
